$background-color: #F6F2F2;
$canvas-background-color: #C1E7FF;
$sketch-menu-color: #1286E1;

@mixin p {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 300;
  font-size: 20px;
  // font-style: italic;
  color: $sketch-menu-color;
} 

#kaleidoscope-canvas-toolbar {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    @include p;
  }
  input {
    width: 30vh;
  }
  button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    align-self: center;
    text-decoration: none;
    text-align: center;
  }
  button:focus {
    outline: 0;
  }
  #input-container {
    display: flex;
    gap: 4rem;
    transform: rotate(270deg) translateX(25px); //Is there a better way than translate to get absolute vertical center?
    justify-content: center;
    transform-origin: center left;
    margin-left: 50%;
    margin-right: 50%;
  }
  #play-button {
    display: none;
  }
  #pause-button {
    font-size: .5rem;
  }
  #prism {
    position: absolute;
    bottom: 30px;
    right: -10px;
    transform: rotate(270deg);
  }
}