$sketch-menu-background-color: #002341;
$icon-background: #002341;
$sketch-menu-icon-color: #F6F2F2;
$icon-width: 45px;
$mainButtonPos: inline;

@mixin p {
  font-family: 'helvetica-neue', sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  color: $sketch-menu-background-color;
} 

@mixin svg {
  max-width: 100%;
  padding: 15%;
  margin: 0;
  position: relative;
  fill: $sketch-menu-icon-color;
}

#sketch-toolbar {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  align-content: center;
  background-color: $sketch-menu-background-color;
  #toolbar-top {
    .tool-tip-right {
      position: relative;
    }
    #select-tool-category {
      svg {
        @include svg;
      }
      :first-child:hover {
        opacity: 50%;
        cursor: pointer;
      }
    }
    #vector-tool-category {
      svg {
        @include svg;
      }
      #vector-tool-button{
        display: $mainButtonPos;
      }
      :first-child:hover {
        opacity: 50%;
        cursor: pointer;
      }
      .vector-tool-sub-category {
        display: none;
        width: $icon-width;
        background-color: $icon-background;
        z-index: 10;
      }
    }
    #brush-tool-category {
      svg {
        @include svg;
      }
      #brush-tool-button{
        display: $mainButtonPos;
      }
      :first-child:hover {
        opacity: 50%;
        cursor: pointer;
      }
      .brush-tool-sub-category {
        display: none;
        width: $icon-width;
        background-color: $icon-background;
        z-index: 10;
      }
    }
    #shape-tool-category {
      svg {
        @include svg;
      }
      #shape-tool-button{
        display: $mainButtonPos;
      }
      :first-child:hover {
        opacity: 50%;
        cursor: pointer;
      }
      .shape-tool-sub-category {
        display: none;
        width: $icon-width;
        background-color: $icon-background;
        z-index: 10;
      }
    }
  }
  #toolbar-bottom {
    justify-self: flex-end;
    position: absolute;
    bottom: 2px;
    left: 4.75px;
  }
  .color-picker {
    margin: 15px 0;
  }
}
  