// svg::after {
//     background-color: #333;
//     border-radius: 10px;
//     color: #b254ff;
//     display: none;
//     padding: 10px 15px;
//     position: absolute;
//     text-align: center;
//     z-index: 100;
// } 

// .tool-tip-right::after {
//   content: 'seladfsdgdsect';
//   top: 0;
//   right: 0;
//   transform: translateX(calc(100% + 10px));
// }

#select-tool-button::after {
  // display: block;
  border: 2px solid red;
  z-index: 100;
  content: 'sup';
}