@mixin position-right {
  position: absolute;
  right: 0;
}

#kaleidoscope-canvas-container {
  @include position-right;
  top: 0;
  bottom: 0;
  width: 50%;
}

#canvas {
  @include position-right;
}

.kaleidoscope-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
