@mixin position-left {
  position: absolute;
  left: 0;
}

#sketch-canvas-container {
  @include position-left;
  top: 0;
  bottom: 0;
  width: 50%;
}

#sketch-canvas {}

.sketch-toolbar {
  @include position-left;
  bottom: 0;
}
