/* Dropup Sketch.IO menu */

#sketch-toolbar {
  position: fixed;
  bottom: 0;
  margin: 0;
}

.sketch-toolbar-category, .sketch-toolbar-sub-category > li {
  display: inline;
}

.sketch-toolbar-sub-category {
  list-style: none;
  margin-bottom: 20px;
}

#sketch-toolbar-menu li ul.sketch-toolbar-sub-category {
  display: none;
}

#sketch-toolbar-menu li:hover ul.sketch-toolbar-sub-category {
  display: block;
  position: absolute;
  bottom: 5px;
}

#sketch-toolbar-menu li:hover {
  color: $mainButtonHover;
}

.sketch-toolbar-category li:hover {
  color: $secondaryButtonHover !important;
}